.toggle-checkbox {
  width: 40px;
  height: 20px;
  background-color: #ccc;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  appearance: none;
  outline: none;
  display: inline-block;
  transition: background-color 0.5s;
  transform: translate(-3px, 1px);
}

.toggle-checkbox:checked {
  background-color: #4caf96;
}

.toggle-checkbox::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}

.toggle-checkbox:checked::before {
  transform: translateX(20px);
}
.dark .toggle-checkbox:checked::before {
  transform: translateX(20px);
  background-color:#c5c5c5;
}

/* Dark mode styles */
.dark .toggle-checkbox {
  background-color: #555; /* Background color in dark mode */
}

/* Dark mode checked state */
.dark .toggle-checkbox:checked {
  background-color: #119173; /* A blue color for dark mode */
}

/* Chat message and content */
.message {
  font-size: 14px;
  margin-bottom: 10px;
  position: relative;
  padding-right: 50px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.timestamp {
  position: absolute;
  bottom: 0;
  right: 10px;
  font-size: 8px;
  color: rgb(173, 173, 173);
}

.username {
  font-weight: bold;
  color: #42b4f6;
}

.message-content {
  color: #ffffff;
}

/* Chat box styling */
.flex-1 {
  overflow-y: auto;
  color: #42b4f6;
}

/* Emoji picker wrapper */
.emoji-picker-wrapper {
  display: none;
  position: absolute;
  top: 3rem; /* shoule be just below title and lougout*/
  bottom: 3.6rem; /* should be just above input*/
  /* width: 95%; */
  z-index: 90;
  background-color: rgb(100, 183, 81);
  /* border: 1px solid #000000; */
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.emoji-picker-wrapper.show {
  display: block;
  background-color: #b74e4e;
}

/* Input and Send button wrapper */
.input-wrapper {
  position: sticky;
  bottom: 0;
  display: flex;
  align-items: center;
  border-radius: 8px;
  background-color: #19407f;
  padding: 10px;
  border-top: 1px solid #e0e0e0;
  transform: translateY(5px);
}

.emoji-button {
  font-size: 1.5rem;
  margin-right: 10px;
}

.flex-1 {
  flex: 1;
}

input {
  flex: 1;
  padding: 10px;
}

button {
  padding: 10px;
}

/* Customize emoji picker */
.emoji-picker-react {
  width: 100% !important;
  max-height: 200px;
  display: flex;
  flex-direction: column;
}

/* Emoji search bar styling */
.emoji-picker-react .emoji-picker-react__search {
  flex-shrink: 0;
  padding: 10px;
  /* border-bottom: 1px solid #e0e0e0; */
}

/* Emoji category navigation */
.emoji-picker-react .emoji-picker-react__emoji-category-navigation {
  flex-shrink: 0;
  padding: 5px 10px;
  border-bottom: 1px solid #e0e0e0;
}

/* Emoji list */
.emoji-picker-react .emoji-picker-react__emoji-list {
  overflow-y: auto;
  flex-grow: 1;
  max-height: 250px;
}

hr {
  border: none;
  border-top: 3px double rgb(230, 230, 230);
  color: #000000;
  /* overflow: visible; */
  text-align: center;
  height: 15px;
  width: 113%;
}

hr::after {
  background: #ae4545;
  content: '§';
  padding: 0 4px;
  position: relative;
  top: -13px;
}

.g-recaptcha {
  transform: translateX(-0.39rem);
}

.active-users-list {
  /* position: absolute; */
  top: 10px;
  right: 10px;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.active-users-list ul {
  list-style: none;
  padding: 0;
}

.active-users-list li {
  margin-bottom: 5px;
}
