.toggle-checkbox {
  width: 40px;
  height: 20px;
  background-color: #ccc;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  appearance: none;
  outline: none;
  transition: background-color 0.5s;
}

.toggle-checkbox:checked {
  background-color: #4caf96;
}

.toggle-checkbox::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}

.toggle-checkbox:checked::before {
  transform: translateX(20px);
}

.timestamp {
  color: green;
}

.username {
  color: orange;
}

.message-content {
  color: purple;
}

/* Custom styles for the emoji picker */
.emoji-picker-react {
  background-color: #458ec7; /* Custom background color */
  border: 3px solid #322c2c; /* Add a border */
}

.emoji-picker-react .emoji-search {
  background-color: rgb(146, 95, 95); /* Change search bar background */
}

.emoji-picker-react .emoji-group {
  font-size: 8px; /* Adjust the size of the emoji group labels */
}

.emoji-button {
  font-size: 40px;
}
/* Further style other elements inside the EmojiPicker */
